<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutMasterAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Store Detail</h2>
                </div>

                <div class="card-block" th:object="${storeObject}">
                    <div class="form-group">
                        <label>Name</label>
                        <p th:text="*{name}"></p>
                    </div>
                    <div class="form-group">
                        <label>Province</label>
                        <p th:text="*{province}"></p>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <p th:text="*{city}"></p>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <p th:text="*{address}"></p>
                    </div>
                    <div class="form-group">
                        <label>Head Store</label>
                        <p th:text="*{head_of_store_name}"></p>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <p th:text="*{phone}"></p>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div th:switch="*{status}">
                            <span th:case="'A'" class="tag tag-pill tag-success">Active</span>
                            <span th:case="'D'" class="tag tag-pill tag-danger">Non-Active</span>
                        </div>
                    </div>

                    <div style="margin-top:50px;float:left">
                        <a th:href="@{'/store/index'}">Back To List</a>
                    </div>


                    <div style="margin-top:50px;float:right">
                        <a href=""  th:onclick="*{status=='A'} ? 'confirmDelete(); return false;' : 'confirmActive(); return false;'"  class="btn m-b3"
                           th:classappend="*{status=='A'} ? 'btn-danger' : 'btn-success'"
                           th:text="*{status=='A'} ? 'Deactivate':'Activate'"></a>

                        <form th:if='${storeObject.status.equals("A")}' th:action="@{/store/delete-confirmed/{id}(id=${storeObject.id})}" method="post" id="formDelete">
                            <input th:field="*{id}" type="hidden" >
                        </form>

                        <form th:if='${!storeObject.status.equals("A")}' th:action="@{/store/activate-confirmed/{id}(id=${storeObject.id})}" method="post" id="formDelete">
                            <input th:field="*{id}" type="hidden" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete() {
            const confirmDelete = confirm("Are you sure to delete this data?");
            if(confirmDelete == true) {
                $("#formDelete").submit();
            }
        }
        function confirmActive() {
            const confirmDelete = confirm("Are you sure to activate this data?");
            if(confirmDelete == true) {
                $("#formDelete").submit();
            }
        }

    </script>


    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>