<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutMasterAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Add New Shelf</h2>
                </div>

                <div class="card-block">
                    <form th:action="@{/shelf/save}" th:object="${shelfObject}" method="post">
                        <div class="form-group">
                            <label for="txtIdWarehouse">Warehouse<span style="color: red;">*</span></label>
                            <select class="form-control"  id="txtIdWarehouse" name="warehouse_id">
                                <option value=""> -Select Warehouse- </option>
                                <option th:each="warehouse : ${listWarehouse}"
                                        th:value="${warehouse.id}"
                                        th:utext="${warehouse.name}"/>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtType">Type<span style="color: red;">*</span></label>
                            <select class="form-control"  id="txtType" name="type_shelf">
                                <option value=""> -Select Type- </option>
                                <option value="Rak Order">Rak Order</option>
                                <option value="Rak Retur">Rak Retur</option>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtCategory">Product Category<span style="color: red;">*</span></label>
                            <select class="form-control"  id="txtCategory" name="product_category_id">
                                <option value=""> -Select Product Category- </option>
                                <option th:each="category : ${listCategory}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}"/>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>


                        <div class="form-group">
                            <label for="txtRow">Row<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="txtRow" placeholder="Input Row" name="rows_shelf">
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtColumn">Column<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="txtColumn" placeholder="Input Column" name="columns_shelf">
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtQty">Quantity<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="txtQty" placeholder="Input Quantity" name="quantity_shelf">
                            <div class="validate-alert hide">Message Here</div>
                        </div>



                        <div style="margin-top:50px;float:left">
                            <a th:href="@{'/shelf/index'}">Back To List</a>
                        </div>
                        <div style="margin-top:50px;float:right">
                            <button type="submit" id="btnSave" class="btn btn-primary m-b3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        function ValidateInput() {
            const validate = [0, 0, 0, 0, 0, 0];

            if ($(txtIdWarehouse).val() === '') {
                setErrorFor($(txtIdWarehouse), 'Warehouse Cannot Be Empty');
            } else {
                setClearFor($(txtIdWarehouse));
                validate[0] = 1;
            }

            if ($(txtType).val() === '') {
                setErrorFor($(txtType), 'Type Cannot Be Empty');
            } else {
                setClearFor($(txtType));
                validate[1] = 1;
            }

            if ($(txtCategory).val() === '') {
                setErrorFor($(txtCategory), 'Product Category Cannot Be Empty');
            } else {
                setClearFor($(txtCategory));
                validate[2] = 1;
            }

            if ($(txtRow).val() === '') {
                setErrorFor($(txtRow), 'Row Cannot Be Empty');
            } else if (!isDigit($(txtRow).val())) {
                setErrorFor($(txtRow), 'Row must be numeric');
            } else {
                setClearFor($(txtRow));
                validate[3] = 1;
            }

            if ($(txtColumn).val() === '') {
                setErrorFor($(txtColumn), 'Column Cannot Be Empty');
            } else if (!isDigit($(txtColumn).val())) {
                setErrorFor($(txtColumn), 'Column must be numeric');
            } else {
                setClearFor($(txtColumn));
                validate[4] = 1;
            }

            if ($(txtQty).val() === '') {
                setErrorFor($(txtQty), 'Quantity Cannot Be Empty');
            } else if (!isDigit($(txtQty).val())) {
                setErrorFor($(txtQty), 'Quantity must be numeric');
            } else {
                setClearFor($(txtQty));
                validate[5] = 1;
            }


            if (validate[0] == 1 && validate[1] == 1 && validate[2] == 1 && validate[3] == 1 && validate[4] == 1 && validate[5] == 1) {
                return true;
            } else {
                return false;
            }
            return true;
        }

        function setClearFor(input) {
            var alert = $(input).parent().closest(".form-group").find('.validate-alert');
            $(input).removeClass('input-invalid');
            alert.addClass('hide');
        }

        function setErrorFor(input, message) {
            var alert = $(input).parent().closest(".form-group").find('.validate-alert');
            $(input).addClass('input-invalid');
            alert.removeClass('hide');
            alert.html(message);
        }

        function isChar(textbox) {
            return /^[a-zA-Z]*$/g.test(textbox);
        }

        function isDigit(textBox) {
            return /^[0-9]*$/g.test(textBox);
        }

        function Clear(element) {
            if ($(element).hasClass("form-control input-invalid")) {
                setClearFor(element);
            }
        }


        $(document).ready(function () {
            $('select').change(function () {
                Clear(this);
            });
            $('input[type=text],input[type=number]').on('input', function () {
                Clear(this);
            });
            $('textarea').on('input', function () {
                Clear(this);
            });
            $('#potongan').on('input', function () {
                Clear(this);
            });
        });
        $('#btnSave').click(function (event) {
            if (ValidateInput() == true) {
                return true;
            } else {

                return false;
            }
        })
    </script>

    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>