<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutMasterAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Shelf List
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-lg-12" th:if="${success_create}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_create}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_delete}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_delete}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-4" style="padding-bottom:30px">
                            <a href="create" class="btn btn-primary">+ Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered datatable">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>ID</th>
                                <th>Warehouse ID</th>
                                <th>Type</th>
                                <th>Product Category</th>
                                <th>Row</th>
                                <th>Col</th>
                                <th>Qty</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="shelf, counter: ${listShelf}">
                                <th th:text="${counter.count}"></th>
                                <td th:text="${shelf.id}"></td>
                                <td th:text="${shelf.warehouse_id}"></td>
                                <td th:text="${shelf.type_shelf}"></td>
                                <td th:text="${shelf.product_category_id}"></td>
                                <td th:text="${shelf.rows_shelf}"></td>
                                <td th:text="${shelf.columns_shelf}"></td>
                                <td th:text="${shelf.quantity_shelf}"></td>
                                <td>
                                    <div th:switch="${shelf.is_empty}">
                                        <span th:case="0" class="tag tag-pill tag-success">Filled</span>
                                        <span th:case="1" class="tag tag-pill tag-danger">Empty</span>
                                    </div>
                                </td>

                                <td>
                                    <div th:if='${shelf.is_empty.equals(1)}'>
                                        <a title="See Detail" th:href="@{detail/{id}(id=${shelf.id})}" class="btn btn-info custom-icon-btn">
                                            <i class="material-icons text-white">info</i></a>
                                        </a>
                                        <a title="Edit Item" th:href="@{delete/{id}(id=${shelf.id})}" class="btn btn-danger custom-icon-btn">
                                            <i class="material-icons text-white">delete</i></a>
                                        </a>
                                    </div>
                                    <div th:unless='${shelf.is_empty.equals(1)}'>
                                        <a title="See Detail" th:href="@{detail/{id}(id=${shelf.id})}" class="btn btn-info custom-icon-btn">
                                            <i class="material-icons text-white">info</i></a>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>