<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutMasterAdmin}">
<div layout:fragment="content">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--######### INSERT SECTION HEREEE ################ -->
    <div th:object="${dashboardObject}">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span th:text="*{totalProductCategory}"></span>
                    </h5>
                    <div class="small text-overflow text-muted">
                        Product Category
                    </div>
                    <div class="small text-overflow">
                        Updated:
                    </div>
                    <div class="small text-overflow" th:text="*{lastUpdateProductCategory}"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span th:text="*{totalProduct}"></span>
                    </h5>
                    <div class="small text-overflow text-muted">
                        Product
                    </div>
                    <div class="small text-overflow">
                        Updated:
                    </div>
                    <div class="small text-overflow" th:text="*{lastUpdateProduct}"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span th:text="*{totalShelf}"></span>
                    </h5>
                    <div class="small text-overflow text-muted">
                        Shelf
                    </div>
                    <div class="small text-overflow">
                        Updated:
                    </div>
                    <div class="small text-overflow" th:text="*{lastUpdateShelf}"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span th:text="*{totalStore}"></span>
                    </h5>
                    <div class="small text-overflow text-muted">
                        Store
                    </div>
                    <div class="small text-overflow">
                        Updated:
                    </div>
                    <div class="small text-overflow" th:text="*{lastUpdateStore}"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span th:text="*{totalSupplier}"></span>
                    </h5>
                    <div class="small text-overflow text-muted">
                        Supplier
                    </div>
                    <div class="small text-overflow">
                        Updated:
                    </div>
                    <div class="small text-overflow" th:text="*{lastUpdateStore}"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span th:text="*{totalWarehouse}"></span>
                    </h5>
                    <div class="small text-overflow text-muted">
                        Warehouse
                    </div>
                    <div class="small text-overflow">
                        Updated:
                    </div>
                    <div class="small text-overflow" th:text="*{lastUpdateWarehouse}"></div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-block">
                <div class="m-b-1">
                    <h6>
                        Activity - Order
                    </h6>
                </div>
                <canvas id="orderIn" class="dashboard-line chart"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <div class="m-b-1">
                    <h6>
                        Activity - Retur
                    </h6>
                </div>
                <canvas id="orderOut" class="dashboard-line chart"></canvas>
            </div>
        </div>
    </div>
    <!--######### END OF SECTION HEREEE ################ -->

    <script>
        $.get( "dashboard-order", function( data ) {
            const xValues = data.map((data) => {
                return data.date;
            });
            const yValues = data.map((data) => {
                return data.totalOrder;
            });

            const min = yValues.sort()[0];
            const max = yValues.reverse()[0];

            new Chart("orderIn", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: true,
                        lineTension: 0,
                        backgroundColor: "rgba(82,208,58,0.37)",
                        borderColor: "rgba(82,208,58,1.0)",
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        yAxes: [{ticks: {min: min <= 0 ? 0 : min - 1, max: max+1}}],
                    }
                }
            });
        });

        $.get("dashboard-retur", function( data ) {
            const xValues = data.map((data) => {
                return data.date;
            });
            const yValues = data.map((data) => {
                return data.totalOrder;
            });

            const min = yValues.sort()[0];
            const max = yValues.reverse()[0];

            new Chart("orderOut", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: true,
                        lineTension: 0,
                        backgroundColor: "rgba(82,208,58,0.37)",
                        borderColor: "rgba(82,208,58,1.0)",
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        yAxes: [{ticks: {min: min <= 0 ? 0 : min - 1, max: max+1}}],
                    }
                }
            });
        });
    </script>
</div>
</html>