<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Add New Staff</h2>
                </div>

                <div class="card-block">
                    <form th:action="@{/staff/save}" th:object="${staffObject}" method="post">

                        <div class="form-group">
                            <label for="txtName">Name<span style="color: red;">*</span></label>
                            <input th:field="*{name}" type="text" class="form-control" id="txtName" name="name" placeholder="Input Name">
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtPhone">Phone<span style="color: red;">*</span></label>
                            <input th:field="*{phone}" type="text" class="form-control" id="txtPhone" name="phone"
                                   placeholder="Input Phone Number" maxlength="13">
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtAddress">Address<span style="color: red;">*</span></label>
                            <textarea th:text="*{address}" type="text" class="form-control" id="txtAddress" name="address"
                                      placeholder="Input Address"></textarea>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender<span style="color: red;">*</span></label>
                                <div class="custom-controls-stacked">
                                    <label class="custom-control custom-radio">
                                        <input th:checked='*{gender=="M"}' name="gender" id="gender" value="M"  type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Male</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input th:checked='*{gender=="F"}' name="gender" id="gender1" value="F" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Female</span>
                                    </label>
                                </div>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="role_id">Role<span style="color: red;">*</span></label>
                            <select th:field="*{role_id}" class="form-control" name="role_id" id="role_id" t>
                                <option value="0"> -Select Role- </option>
                                <option value="1">Transaction Admin</option>
                                <option value="2">Warehouse Admin</option>
                                <option value="3">Master Data Admin</option>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Email<span style="color: red;">*</span></label>
                            <input th:field="*{email}" th:classappend="${email_exist} ? 'input-invalid' : ''" type="text" class="form-control" id="txtEmail" name="email" placeholder="Input Email Address">
                            <div class="validate-alert hide">Message Here</div>
                            <div th:if="${email_exist}" th:text="${email_exist}" class="validate-alert">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Password<span style="color: red;">*</span></label>
                            <input th:field="*{password}" type="password" class="form-control" id="txtPassword" name="password" placeholder="Input Password">
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword2">Confirm Password<span style="color: red;">*</span></label>
                            <input type="password" class="form-control" id="txtPassword2" placeholder="Re-type Password">
                            <div class="validate-alert hide">Message Here</div>
                        </div>

                        <div style="margin-top:50px;float:left">
                            <a th:href="@{'/staff/index'}">Back To List</a>
                        </div>
                        <div style="margin-top:50px;float:right">
                            <button type="submit" id="btnSave" class="btn btn-primary m-b3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        function ValidateInput() {
            const validate = [0, 0, 0, 0, 0, 0, 0,0];

            if ($(txtName).val() === '') {
                setErrorFor($(txtName), 'Name Cannot Be Empty');
            } else {
                setClearFor($(txtName));
                validate[0] = 1;
            }

            if ($(txtAddress).val() === '') {
                setErrorFor($(txtAddress), 'Address Cannot Be Empty');
            } else {
                setClearFor($(txtAddress));
                validate[1] = 1;
            }

            if ($(txtEmail).val() === '') {
                setErrorFor($(txtEmail), 'Email Address Cannot Be Empty');
            } else {
                setClearFor($(txtEmail));
                validate[2] = 1;
            }

            if ($(txtPassword).val() === '') {
                setErrorFor($(txtPassword), 'Password Cannot Be Empty');
            } else {
                setClearFor($(txtPassword));
                validate[3] = 1;
            }

            if ($(txtPassword2).val() === '') {
                setErrorFor($(txtPassword2), 'Confirm Password Cannot Be Empty');
            } else {
                if ($(txtPassword).val() != $(txtPassword2).val()) {
                    setErrorFor($(txtPassword2), 'Password Not Match!');
                } else {
                    setClearFor($(txtPassword2));
                    validate[4] = 1;
                }
            }



            if ($(txtPhone).val() === '') {
                setErrorFor($(txtPhone), 'Phone Number Cannot Be Empty');
            } else if (!isDigit($(txtPhone).val())) {
                setErrorFor($(txtPhone), 'Phone Number must be numeric');
            } else {
                setClearFor($(txtPhone));
                validate[5] = 1;
            }

            if ($(role_id).val() == '0') {
                setErrorFor($(role_id), 'Role Cannot Be Empty');
            } else {
                setClearFor($(role_id));
                validate[6] = 1;
            }

            if (!$(gender).is(':checked') && !$(gender1).is(':checked')) {
                setErrorFor($(gender), 'Gender Cannot Be Empty');
            } else {
                setClearFor($(gender));
                validate[7] = 1;
            }

            if (validate[0] == 1 && validate[1] == 1 && validate[2] == 1 && validate[3] == 1
                && validate[4] == 1 && validate[5] == 1 && validate[6] == 1&& validate[7] == 1) {
                return true;
            } else {
                return false;
            }
        }

        function setClearFor(input) {
            var alert = $(input).parent().closest(".form-group").find('.validate-alert');
            $(input).removeClass('input-invalid');
            alert.addClass('hide');
        }

        function setErrorFor(input, message) {
            var alert = $(input).parent().closest(".form-group").find('.validate-alert');
            $(input).addClass('input-invalid');
            alert.removeClass('hide');
            alert.html(message);
        }

        function isChar(textbox) {
            return /^[a-zA-Z]*$/g.test(textbox);
        }

        function isDigit(textBox) {
            return /^[0-9]*$/g.test(textBox);
        }

        function Clear(element) {
            if ($(element).hasClass("form-control input-invalid")) {
                setClearFor(element);
            }
        }


        $(document).ready(function () {
            $(gender).change(function(){
                setClearFor(this);
            });
            $(gender1).change(function(){
                setClearFor(this);
            });
            $('select').change(function () {
                Clear(this);
            });
            $('input[type=text],input[type=number],input[type=password]').on('input', function () {
                Clear(this);
            });
            $('textarea').on('input', function () {
                Clear(this);
            });
            $('#potongan').on('input', function () {
                Clear(this);
            });
        });
        $('#btnSave').click(function (event) {
            if (ValidateInput() == true) {
                return true;
            } else {

                return false;
            }
        })
    </script>

    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>