<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutSuperAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Staff List
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-lg-12" th:if="${success_create}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_create}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_update}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_update}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_active}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_active}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_deactive}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_deactive}"></span>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:30px">
                            <a href="create" class="btn btn-primary">+ Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive" style="overflow-x:scroll">
                        <table class="table table-bordered datatable">
                            <thead>
                            <tr>
                                <th>No</th>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Address</td>
                                <td>Gender</td>
                                <td>Role</td>
                                <td>Email</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="staffs, counter: ${listStaff}">
                                <th th:text="${counter.count}"></th>
                                <td th:text="${staffs.name}"></td>
                                <td th:text="${staffs.phone}">
                                    Phone
                                </td>
                                <td th:text="${staffs.address}">
                                    Address
                                </td>
                                <td>
                                    <div th:switch="${staffs.gender}">
                                        <p th:case="'F'">Female</p>
                                        <p th:case="M">Male</p>
                                    </div>
                                </td>
                                <td>
                                    <div th:switch="${staffs.role_id}">
                                        <p th:case="'1'">Transaction Admin</p>
                                        <p th:case="'2'">Warehouse Admin</p>
                                        <p th:case="'3'">Master Data Admin</p>
                                    </div>
                                </td>
                                <td th:text="${staffs.email}">
                                    Email
                                </td>
                                <td>
                                    <div th:switch="${staffs.status}">
                                        <span th:case="'A'" class="tag tag-pill tag-success">Active</span>
                                        <span th:case="'D'" class="tag tag-pill tag-danger">Non-Active</span>
                                    </div>
                                </td>

                                <td th:if='${staffs.status.equals("A")}'>
                                    <a title="See Detail" th:href="@{detail/{id}(id=${staffs.id})}" class="btn btn-info custom-icon-btn">
                                        <i class="material-icons text-white">info</i></a>
                                    <a title="Edit Item" th:href="@{edit/{id}(id=${staffs.id})}" class="btn btn-outline-primary custom-icon-btn">
                                        <i class="material-icons text-primary custom-outline">edit</i>
                                    </a>
                                    <a title="Deactivate Item" th:href="@{delete/{id}(id=${staffs.id})}" class="btn btn-danger custom-icon-btn">
                                        <i class="material-icons text-white">delete</i>
                                    </a>
                                </td>

                                <td th:unless='${staffs.status.equals("A")}'>
                                    <a title="See Detail" th:href="@{detail/{id}(id=${staffs.id})}" class="btn btn-info custom-icon-btn">
                                        <i class="material-icons text-white">info</i></a>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>