<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">

    <meta name="theme-color" content="#4C7FF0">

    <title>Djadjan Inventory System Application </title>

    <!-- page icon -->
    <link rel="icon" type="image/png" href="../assets/images/icon_djadjan.png"/>

    <!-- page stylesheets -->
    <link rel="stylesheet" href="../assets/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.css" />
    <!-- end page stylesheets -->

    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link rel="stylesheet" th:href="@{'/assets/vendor/bootstrap/dist/css/bootstrap.css'}" />
    <link rel="stylesheet" th:href="@{'/assets/vendor/pace/themes/blue/pace-theme-minimal.css'}" />
    <link rel="stylesheet" th:href="@{'/assets/vendor/font-awesome/css/font-awesome.css'}" />
    <link rel="stylesheet" th:href="@{'/assets/vendor/animate.css/animate.css'}" />
    <link rel="stylesheet" th:href="@{'/assets/styles/app.css'}"  id="load_styles_before" />
    <link rel="stylesheet" th:href="@{'/assets/styles/shortcodes.css'}" />
    <link rel="stylesheet" th:href="@{'/assets/styles/app.skins.css'}"  />
    <link rel="stylesheet" th:href="@{'/assets/vendor/select2/select2.css'}">
    <!-- endbuild -->
</head>

<body>

<div class="app">
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header no-bg b-a-0">
                                Update Your Password
                            </div>
                            <div class="card-block">
                                <form th:action="@{/staff/update-password-save/{id}(id=${staffObject.id})}" th:object="${staffObject}" method="post">
                                    <div class="form-group">
                                        <label for="txtPassword1">New Password<span style="color: red;">*</span></label>
                                        <input th:field="*{password}" type="password" class="form-control" id="txtPassword1"
                                               placeholder="Input New Password">
                                        <div class="validate-alert hide">Message Here</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPassword2">Confirm Password<span style="color: red;">*</span></label>
                                        <input type="password" class="form-control" id="txtPassword2"
                                               placeholder="Confirm Password">
                                        <div class="validate-alert hide">Message Here</div>
                                    </div>
                                    <button type="submit" id="btnSave" class="btn btn-primary">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /bottom footer -->
        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->


</div>

<!-- build:js({.tmp,app}) scripts/app.min.js -->
<script th:src="@{'/assets/vendor/jquery/dist/jquery.js'}" ></script>
<script th:src="@{'/assets/vendor/pace/pace.js'}"></script>
<script th:src="@{'/assets/vendor/tether/dist/js/tether.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/dist/js/bootstrap.js'}"></script>
<script th:src="@{'/assets/vendor/fastclick/lib/fastclick.js'}"></script>
<script th:src="@{'/assets/scripts/constants.js'}"></script>
<script th:src="@{'/assets/scripts/main.js'}"></script>
<!-- endbuild -->


<!-- initialize page scripts -->
<script th:src="@{'/assets/scripts/dashboard/dashboard.js'}"></script>
<script th:src="@{'/assets/vendor/sweetalert/dist/sweetalert.min.js'}" ></script>
<script th:src="@{'/assets/scripts/ui/alert.js'}" ></script>
<script th:src="@{'/assets/vendor/datatables/media/js/jquery.dataTables.js'}" ></script>
<script th:src="@{'/assets/vendor/datatables/media/js/dataTables.bootstrap4.js'}" ></script>
<script th:src="@{'/assets/scripts/forms/plugins.js'}" ></script>
<!-- end initialize page scripts -->


</body>


</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function ValidateInput() {
        const validate = [0, 0];

        if ($(txtPassword1).val() === '') {
            setErrorFor($(txtPassword1), 'New Password Cannot Be Empty');
        } else {
            setClearFor($(txtPassword1));
            validate[0] = 1;
        }

        if ($(txtPassword2).val() === '') {
            setErrorFor($(txtPassword2), 'Please Confirm Your Password');
        } else {
            if ($(txtPassword2).val() != $(txtPassword1).val()) {
                setErrorFor($(txtPassword2), 'Password Not Match!');
            } else {
                setClearFor($(txtPassword2));
                validate[1] = 1;
            }
        }


        if (validate[0] == 1&&validate[1] == 1) {
            return true;
        } else {
            return false;
        }
    }

    function setClearFor(input) {
        var alert = $(input).parent().closest(".form-group").find('.validate-alert');
        $(input).removeClass('input-invalid');
        alert.addClass('hide');
    }

    function setErrorFor(input, message) {
        var alert = $(input).parent().closest(".form-group").find('.validate-alert');
        $(input).addClass('input-invalid');
        alert.removeClass('hide');
        alert.html(message);
    }

    function isChar(textbox) {
        return /^[a-zA-Z]*$/g.test(textbox);
    }

    function isDigit(textBox) {
        return /^[0-9]*$/g.test(textBox);
    }

    function Clear(element) {
        if ($(element).hasClass("form-control input-invalid")) {
            setClearFor(element);
        }
    }


    $(document).ready(function () {
        $('input[type=text],input[type=number]').on('input', function () {
            Clear(this);
        });
    });
    $('#btnSave').click(function (event) {
        if (ValidateInput() == true) {
            return true;
        } else {

            return false;
        }
    })
</script>
