<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutMasterAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Product List
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-lg-12" th:if="${success_create}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_create}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_update}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_update}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_active}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_active}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_deactive}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${success_deactive}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-4" style="padding-bottom:30px">
                            <a href="create" class="btn btn-primary">+ Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered datatable">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Product Category</th>
                                <th>Units</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product, counter: ${listProduct}">
                                <th th:text="${counter.count}"></th>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.productCategory.name}"></td>
                                <td th:text="${product.units}"></td>
                                <td>
                                    <div th:switch="${product.status}">
                                        <span th:case="'A'" class="tag tag-pill tag-success">Active</span>
                                        <span th:case="'D'" class="tag tag-pill tag-danger">Non-Active</span>
                                    </div>
                                </td>

                                <td th:if='${product.status.equals("A")}'>
                                    <a title="See Detail" th:href="@{detail/{id}(id=${product.id})}" class="btn btn-info custom-icon-btn">
                                        <i class="material-icons text-white">info</i></a>
                                    <a title="Edit Item" th:href="@{edit/{id}(id=${product.id})}" class="btn btn-outline-primary custom-icon-btn">
                                        <i class="material-icons text-primary custom-outline">edit</i>
                                    </a>
                                    <a title="Deactivate Item" th:href="@{deactivate/{id}(id=${product.id})}" class="btn btn-danger custom-icon-btn">
                                        <i class="material-icons text-white">delete</i>
                                    </a>
                                </td>

                                <td th:unless='${product.status.equals("A")}'>
                                    <a title="See Detail" th:href="@{detail/{id}(id=${product.id})}" class="btn btn-info custom-icon-btn">
                                        <i class="material-icons text-white">info</i></a>
                                    </a>
                                    <a title="Activate Item" th:href="@{activate/{id}(id=${product.id})}" class="btn btn-success custom-icon-btn">
                                        <i class="material-icons text-white">adjust</i></a>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>