<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutSuperAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Supplier Detail List
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-lg-12" th:if="${success_create}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                <span th:text="${success_create}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <!--                        -->
                        <div class="col-md-12 col-lg-12" th:if="${success_deactive}">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                <span th:text="${success_deactive}"></span>
                            </div>
                        </div>
                        <!--                        -->
                        <div class="col-md-4" style="padding-bottom:30px">
                            <a th:href="@{/supplierDetail/create/{id}(id=${supplierDetailObject})}"
                               class="btn btn-primary">+ Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered datatable">
                            <thead>
                            <tr>
                                <th>No</th>
                                <td>Supplier</td>
                                <td>Product Category</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="supplierDetail, counter: ${listSupDetail}">
                                <th th:text="${counter.count}"></th>
                                <td th:text="${supplierDetail.getSupplier().name}"></td>
                                <td th:text="${supplierDetail.getProductCategory().name}"></td>
                                <td>
                                    <a th:href="@{/supplierDetail/deleteSupDet/{id}(id=${supplierDetail.id})}" class="btn btn-danger"
                                       onclick="return confirm('Are you sure to delete this?');">Deactivate</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>