<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layoutTransactionAdmin}">

<div layout:fragment="content">
    <!--######### INSERT SECTION HEREEE ################ -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Add New Order | <i>Level <span th:text="${level}"></span></i></h2>
                </div>

                <div class="card-block" id="divForm">
                    <form th:action="@{/order/save/{id}(id=${level})}" th:object="${orderObject}" method="post">
                        <input type="hidden" th:value="${level}" id="levelHidden"/>
                        <div class="form-group">
                            <label for="txtType">Origin Type<span style="color: red;">*</span></label>
                            <select class="form-control"  id="txtType" th:field="*{origin_type}" readonly>
                                <option value=""> -Select Type- </option>
                                <option th:selected="*{origin_type.equals('Gudang')}" value="Gudang">Warehouse</option>
                                <option th:selected="*{origin_type.equals('Pemasok')}" value="Pemasok">Supplier</option>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <span th:text="${!level.equals(1)} ? 'Origin Warehouse':'Supplier'"></span> <span style="color: red;">*</span></label>
                            <select class="form-control" id="txtIdWarehouseOr" th:field="*{origin_warehouse_id}"
                                    th:classappend="${level.equals(1)} ? 'ddlOriginLevel1':
                                                    (${level.equals(2)} ? 'ddlOriginLevel2':
                                                    (${level.equals(3)} ? 'ddlOriginLevel3':''))" >
                                <option value="" th:text="${!level.equals(1)} ? ' -Select Warehouse- ':' -Select Supplier- '"></option>
                                <option th:each="warehouse : ${listWarehouseOr}"
                                        th:value="${warehouse.id}"
                                        th:utext="${warehouse.name}"
                                        th:selected="${warehouse.id == orderObject.origin_warehouse_id}"/>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtTypeDest">Destination Type<span style="color: red;">*</span></label>
                            <select class="form-control"  id="txtTypeDest" th:field="*{dest_type}" readonly>
                                <option value=""> -Select Type- </option>
                                <option th:selected="*{dest_type.equals('Gudang')}" value="Gudang">Warehouse</option>
                                <option th:selected="*{dest_type.equals('Toko')}" value="Toko">Store</option>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>
                        <div class="form-group">
                            <label for="txtIdWarehouse">
                                <span th:text="${!level.equals(3)} ? 'Destination Warehouse':'Destination Store'"></span> <span style="color: red;">*</span></label>
                            <select class="form-control" id="txtIdWarehouse" th:field="*{dest_warehouse_id}" th:readonly="${level.equals(1)}">
                                <option value="" th:text="${!level.equals(3)} ? ' -Select Warehouse- ':' -Select Store- '"></option>
                                <option th:each="warehouse : ${listWarehouseDest}"
                                        th:value="${warehouse.id}"
                                        th:utext="${warehouse.name}"
                                        th:selected="${warehouse.id == orderObject.dest_warehouse_id}"/>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>

                        <div th:if='${!level.equals(1)}' class="form-group">
                            <label for="txtIdDriver">Driver<span style="color: red;">*</span></label>
                            <select class="form-control txtIdDriver" id="txtIdDriver" th:field="*{driver_id}">
                                <option value=""> -Select Driver- </option>
                                <option th:each="driver : ${listDriver}"
                                        th:value="${driver.id}"
                                        th:utext="${driver.name}"/>
                            </select>
                            <div class="validate-alert hide">Message Here</div>
                        </div>

                        <input type="hidden" id="arraydetail" th:field="*{detailJSON}">
                        <div id="variantitem" class="form-group">
                            <label>Daftar Produk</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="display:block;">
                                        <button type="button" class="btn btn-outline-primary" id="plus1">
                                            <span class='fa fa-plus' style="padding-right:20px"></span>
                                            1
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" id="plus5">
                                            <span class='fa fa-plus' style="padding-right:20px"></span>
                                            5
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" id="plus10">
                                            <span class='fa fa-plus' style="padding-right:20px"></span>
                                            10
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" id="plus50">
                                            <span class='fa fa-plus' style="padding-right:20px"></span>
                                            50
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" id="plus100">
                                            <span class='fa fa-plus' style="padding-right:20px"></span>
                                            100
                                        </button>
                                        <button disabled="true" type="button" class="btn btn-danger" id="clearAll">
                                            <span class='fa fa-trash' style="padding-right:20px"></span>
                                            Clear All
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Product Added : <span><b id="counterTamu">1</b></span></label>
                                </div>
                            </div>


                            <div class="form-group" style="padding-top:20px" id="detailtable">
                                <div class="hide" style="padding-top:20px" id="alertDetailDiv">
                                    <div class="col">
                                        <div class="alert alert-danger" role="alert" id="detailAlertMsg">
                                            Please Fill Product With Valid Value !
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered" id="crud_table">
                                    <thead>

                                    <tr>
                                        <th width="20%">Product<span style="color: red;">*</span></th>
                                        <th width="30%">Origin Shelf<span style="color: red;">*</span></th>
                                        <th width="30%">Dest Shelf<span style="color: red;">*</span></th>
                                        <th width="15%">Quantity<span style="color: red;">*</span></th>
                                        <th width="5%" style="border-left-style: none"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="baseRow">
                                        <td class="product_id">
                                            <select class="form-control">
                                                <option value=""> -Select Product- </option>
                                            </select>
                                        </td>
                                        <td class="product_origin">
                                            <select disabled class="form-control">
                                                <option value=""> -Select Origin Shelf- </option>
                                            </select>
                                        </td>
                                        <td class="product_dest">
                                            <select class="form-control">
                                                <option value=""> -Select Dest Shelf- </option>
                                            </select>
                                        </td>
                                        <td class="product_qty">
                                            <input disabled type="number" min="0" value="0" class="form-control" placeholder="Fill Quantity">
                                        </td>
                                        <td style="border-left-style: none"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div style="margin-top:50px;float:left">
                            <a th:href="@{/order/index/{level}(level=${level})}">Back To List</a>
                        </div>
                        <div style="margin-top:50px;float:right">
                            <button type="submit" id="btnSave" class="btn btn-primary m-b3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        function ValidateAll() {
            var validate = [0, 0];

            if(ValidateOrder()==true){
                validate[0] = 1;
            }
            else{
                validate[0] = 0;
            }

            if(ValidateOrderDetail()==true){
                validate[1] = 1;
            }
            else{
                validate[1] = 0;
            }

            if (validate[0] == 1 && validate[1] == 1) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateOrder() {
            var validate = [0, 0, 0, 0];

            if ($(txtIdWarehouseOr).val() === '') {
                setErrorFor($(txtIdWarehouseOr), 'Warehouse Origin ID Cannot Be Empty');
            } else {
                setClearFor($(txtIdWarehouseOr));
                validate[0] = 1;
            }

            if ($(txtIdWarehouse).val() === '') {
                setErrorFor($(txtIdWarehouse), 'Warehouse Destination ID Cannot Be Empty');
            } else {
                setClearFor($(txtIdWarehouse));
                validate[1] = 1;
            }

            if ($(txtType).val() === '') {
                setErrorFor($(txtType), 'Order Type Cannot Be Empty');
            } else {
                setClearFor($(txtType));
                validate[2] = 1;
            }

            if ( $('.txtIdDriver').length ) {
                if ($('.txtIdDriver').val() === '') {
                    setErrorFor($('.txtIdDriver'), 'Driver ID Cannot Be Empty');
                } else {
                    setClearFor($('.txtIdDriver'));
                    validate[3] = 1;
                }
            }
            else{
                validate[3] = 1;
            }

            if (validate[0] == 1 && validate[1] == 1 && validate[2] == 1 && validate[3] == 1) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateOrderDetail() {

                var validate3 = [0];
                var product_id = [];
                var product_origin = [];
                var product_dest = [];
                var product_qty = [];
                $('.product_id').each(function() {
                    product_id.push($(this).find("select option:selected").val());
                });
                $('.product_origin').each(function() {
                    product_origin.push($(this).find("select option:selected").val());
                });
                $('.product_dest').each(function() {
                    product_dest.push($(this).find("select option:selected").val());
                });
                $('.product_qty').each(function() {
                    product_qty.push($(this).find("input").val());
                });

                var itemdetail = [];
                var i;
                var limit = product_id.length;

                for (i = 0; i < limit; i++) {
                    var vid = product_id[i];
                    var vorigin = product_origin[i];
                    var vdest = product_dest[i];
                    var vqty = product_qty[i];
                    var itemdetails = {
                        productID: vid,
                        productOrigin: vorigin,
                        productDest: vdest,
                        productQty: vqty
                    };
                    itemdetail.push(itemdetails);
                }
                var detailvalid = true;
                for (i = 0; i < itemdetail.length; i++) {
                    var varname = itemdetail[i].productID;
                    var varorigin = itemdetail[i].productOrigin;
                    var vardest = itemdetail[i].productDest;
                    var varqty = itemdetail[i].productQty;
                    if($(levelHidden).val()<3) {
                        alert($(levelHidden).val() + "LEVEL BRO");
                        if (varname == '' || varorigin == '' || varqty == '') {
                            detailvalid = false;
                        }
                    }
                    else{
                        if (varname == '' || varorigin == '' || vardest == '' || varqty == '') {
                            detailvalid = false;
                        }
                    }
                }

                if (detailvalid == true) {
                    var itemdetailwrapped = JSON.stringify(itemdetail);
                    $('#arraydetail').val(itemdetailwrapped);
                    console.log(itemdetailwrapped);
                    validate3[0] = 1;
                } else {
                    //$('#detailtable').addClass('alertborder');
                    validate3[0] = 0;
                    $('#alertDetailDiv').removeClass('hide');
                }

                if (validate3[0] == 1) {
                    return true;
                } else {
                    return false;
                }

        }

        function setClearFor(input) {
            var alert = $(input).parent().closest(".form-group").find('.validate-alert');
            $(input).removeClass('input-invalid');
            alert.addClass('hide');
        }

        function setErrorFor(input, message) {
            var alert = $(input).parent().closest(".form-group").find('.validate-alert');
            $(input).addClass('input-invalid');
            alert.removeClass('hide');
            alert.html(message);
        }

        function isChar(textbox) {
            return /^[a-zA-Z]*$/g.test(textbox);
        }

        function Clear(element) {
            if ($(element).hasClass("form-control input-invalid")) {
                setClearFor(element);
            }
        }

        function cloneRow() {
            var row = document.getElementById("baseRow"); // find row to copy
            var table = document.getElementById("crud_table"); // find table to append to
            var clone = row.cloneNode(true); // copy children too
            clone.id = ""; // change id or other attributes/contents
            var html_code = "<button type='button' name='remove' data-row='row" + count + "' class='btn btn-danger btn-xs remove'><span class='fa fa-trash fa-lg'></span></button>";

            clone.getElementsByTagName("td")[4].innerHTML=html_code;
            table.appendChild(clone); // add new row to end of table
        }

        function addRow(){
            var html_code = '';
            html_code += '<tr>';
            html_code += '<td class="product_id"><select class="form-control"><option value=""> -Select Product-</option></select></td>';
            html_code += '<td class="product_origin"><select class="form-control"><option value=""> -Select Origin Shelf-</option></select></td>';
            html_code += '<td class="product_dest"><select class="form-control"><option value=""> -Select Dest Shelf-</option></select></td>';
            html_code += '<td class="product_qty"><input type="number" value="0" class="form-control" placeholder="Fill Quantity"></td>';
            html_code += "<td style='border-left-style: none'><button type='button' name='remove' data-row='row' class='btn btn-danger btn-xs remove'><span class='fa fa-trash fa-lg'></span></button></td>";
            html_code += '</tr>';
            $('#crud_table').append(html_code);
        }

        var count = 1;
        //Plus1
        $('#plus1').click(function() {
            $('#alertvalidation').removeClass('show');
            count = count + 1;
            cloneRow();
            $('#alertDetailDiv').addClass('hide');
            setCounter(count);
            setDisabledClearAll(count);
        });

        //Plus5
        $('#plus5').click(function() {
            $('#alertvalidation').removeClass('show');
            countedStart = count + 1;
            countedEnd = count + 5;
            count = count + 5;;
            for (i = countedStart; i <= countedEnd; i++) {
                cloneRow();
            }
            $('#alertDetailDiv').addClass('hide');
            setCounter(count);
            setDisabledClearAll(count);
        });

        //Plus10
        $('#plus10').click(function() {
            $('#alertvalidation').removeClass('show');
            countedStart = count + 1;
            countedEnd = count + 10;
            count = count + 10;
            for (i = countedStart; i <= countedEnd; i++) {
                cloneRow();
            }
            $('#alertDetailDiv').addClass('hide');
            setCounter(count);
            setDisabledClearAll(count);
        });

        //Plus50
        $('#plus50').click(function() {
            $('#alertvalidation').removeClass('show');
            countedStart = count + 1;
            countedEnd = count + 50;
            count = count + 50;
            for (i = countedStart; i <= countedEnd; i++) {
                cloneRow();
            }
            $('#alertDetailDiv').addClass('hide');
            setCounter(count);
            setDisabledClearAll(count);
        });

        //Plus100
        $('#plus100').click(function() {
            $('#alertvalidation').removeClass('show');
            countedStart = count + 1;
            countedEnd = count + 100;
            count = count + 100;
            for (i = countedStart; i <= countedEnd; i++) {
                cloneRow();
            }
            $('#alertDetailDiv').addClass('hide');
            setCounter(count);
            setDisabledClearAll(count);
        });

        function setDisabledClearAll(count) {
            if (count > 1) {
                $('#clearAll').prop('disabled', false);
            }
        }

        function setCounter(count) {
            $('#counterTamu').html(count);
        }

        $(document).on('click', '.remove', function() {
            $('#alertvalidation').removeClass('show');
            $(this).parent().closest("tr").remove();
            count = count - 1;
            $('#alertDetailDiv').addClass('hide');
            setCounter(count);
        });

        $(document).on('click', '#clearAll', function() {
            count = 1;
            $("#crud_table").find("tr:gt(1)").remove();

            setCounter(count);
        });


        $(document).ready(function() {
            if ( $('.ddlOriginLevel2').length ) {
                $('.product_origin select').prop( "disabled", false );
                var id = $(".ddlOriginLevel2").val();
                var dataWrapped = {
                    'id': id,
                    'name' : ''
                };

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getCabang',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $('#txtIdWarehouse').find('option').not(':first').remove();
                        $('#txtIdWarehouse').attr('disabled', false);

                        for (var i = 0; i < resp.data.length; i++) {
                            $('#txtIdWarehouse').append('<option value=' + resp.data[i].id + '>' + resp.data[i].name + '</option>')
                        }
                    }
                });

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getDriver',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $('#txtIdDriver').find('option').not(':first').remove();
                        $('#txtIdDriver').attr('disabled', false);

                        for (var i = 0; i < resp.data.length; i++) {
                            $('#txtIdDriver').append('<option value=' + resp.data[i].id + '>' + resp.data[i].name + '</option>')
                        }
                    }
                });

                populateAllProduct();
            }


            if ( $('.ddlOriginLevel3').length ) {
                $('.product_origin select').prop( "disabled", false );
                var id = $(".ddlOriginLevel3").val();
                var dataWrapped = {
                    'id': id,
                    'name' : ''
                };

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getStore',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $('#txtIdWarehouse').find('option').not(':first').remove();
                        $('#txtIdWarehouse').attr('disabled', false);
                        for (var i = 0; i < resp.data.length; i++) {
                            $('#txtIdWarehouse').append('<option value=' + resp.data[i].id + '>' + resp.data[i].name + '</option>')
                        }
                    }
                });

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getDriver',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $('#txtIdDriver').find('option').not(':first').remove();
                        $('#txtIdDriver').attr('disabled', false);

                        for (var i = 0; i < resp.data.length; i++) {
                            $('#txtIdDriver').append('<option value=' + resp.data[i].id + '>' + resp.data[i].name + '</option>')
                        }
                    }
                });

                populateAllProduct();
            }


            $('select').change(function() {
                Clear(this);
            });
            $('input[type=text],input[type=number]').on('input', function() {
                Clear(this);
            });
            $('textarea').on('input', function() {
                Clear(this);
            });


            $('.product_id').on('input', function() {
                $('#alertDetailDiv').addClass('hide');
            })
            $('.product_origin').on('input', function() {
                $('#alertDetailDiv').addClass('hide');
            })

            $('.product_dest').on('input', function() {
                $('#alertDetailDiv').addClass('hide');
            })


            function loadStart() {
                $('#divForm').addClass('loaderElement');
                $('#divForm').addClass('loaderElement');
            }

            function loadComplete() {
                $('#divForm').removeClass('loaderElement');
                $('#divForm').removeClass('loaderElement');
            }

            function populateProduct(id){
                var dataWrapped = {
                    'id': id,
                    'name' : ''
                };

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getProduct',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $("#crud_table").find("tr:gt(1)").remove();
                        $('.product_id select').find('option').not(':first').remove();
                        $('.product_origin select').find('option').not(':first').remove();
                        $('.product_dest select').find('option').not(':first').remove();

                        for (var i = 0; i < resp.data.length; i++) {
                            $('.product_id select').append('<option value=' + resp.data[i].id + '>' + resp.data[i].name + '</option>')
                        }
                    }
                });
            }

            function populateAllProduct(){
                var dataWrapped = {
                    'id': id,
                    'name' : ''
                };

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getAllProduct',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $("#crud_table").find("tr:gt(1)").remove();
                        $('.product_id select').find('option').not(':first').remove();
                        $('.product_origin select').find('option').not(':first').remove();
                        $('.product_dest select').find('option').not(':first').remove();

                        for (var i = 0; i < resp.data.length; i++) {
                            $('.product_id select').append('<option value=' + resp.data[i].id + '>' + resp.data[i].name + '</option>')
                        }
                    }
                });
            }

            function populateShelf(id, element){
                var dataWrapped = {
                    'id': id,
                    'name' : ''
                };
                var uri ='';
                if($(levelHidden).val()==1){
                    uri = 'http://localhost:8080/api/getCategorizedShelf';
                }
                else{
                    uri = 'http://localhost:8080/api/getCategorizedShelfWithProduct';
                }
                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: uri,
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $(element).parent().closest("tr").find('.product_origin select').find('option').not(':first').remove();
                        if($(levelHidden).val() == 3) {
                            for (var i = 0; i < resp.data.length; i++) {
                                if(resp.data[i].filled > 0) $(element).parent().closest("tr").find('.product_qty input').prop( "disabled", false );
                                $(element).parent().closest("tr").find('.product_origin select').append('<option data-empty='+resp.data[i].filled+' value=' + resp.data[i].id + '>' + resp.data[i].name + ' | '+ resp.data[i].capacityText + '</option>');
                                $(element).parent().closest("tr").find('.product_dest select').append('<option data-empty='+resp.data[i].filled+' value=' + resp.data[i].id + '>' + resp.data[i].name + ' | '+ resp.data[i].capacityText + '</option>');
                            }
                        }
                        else if($(levelHidden).val()!=2){
                            for (var i = 0; i < resp.data.length; i++) {
                                $(element).parent().closest("tr").find('.product_origin select').append('<option data-empty='+resp.data[i].emptyShelf+' value=' + resp.data[i].id + '>' + resp.data[i].name + ' | '+ resp.data[i].capacityText + '</option>');
                                $(element).parent().closest("tr").find('.product_dest select').append('<option data-empty='+resp.data[i].emptyShelf+' value=' + resp.data[i].id + '>' + resp.data[i].name + ' | '+ resp.data[i].capacityText + '</option>');
                            }
                        }
                        else{
                            for (var i = 0; i < resp.data.length; i++) {
                                $(element).parent().closest("tr").find('.product_origin select').append('<option data-empty='+resp.data[i].emptyShelf+' value=' + resp.data[i].id + '>' + resp.data[i].name + ' | '+ resp.data[i].capacityText + '</option>');
                            }
                        }
                    }
                });
            }

            function populateShelfDest(id, warehouseid, element){
                var dataWrapped = {
                    'id': id,
                    'name' : warehouseid
                };

                $.ajax({
                    type: 'POST',
                    contentType : "application/json",
                    url: 'http://localhost:8080/api/getCategorizedShelfDest',
                    data: JSON.stringify(dataWrapped),
                    dataType : 'json',
                    beforeSend: function() {
                        loadStart();
                    },
                    complete: function() {
                        loadComplete();
                    },
                    success: function (resp) {
                        $(element).parent().closest("tr").find('.product_dest select').find('option').not(':first').remove();
                        for (var i = 0; i < resp.data.length; i++) {
                            $(element).parent().closest("tr").find('.product_dest select').append('<option data-empty='+resp.data[i].emptyShelf+' value=' + resp.data[i].id + '>' + resp.data[i].name + ' | '+ resp.data[i].capacityText + '</option>');
                        }
                    }
                });
            }

            $(".ddlOriginLevel1").change(function () {
                var idSupplier = $(this).val();
                populateProduct(idSupplier);
            })

            $(".ddlOriginLevel2").change(function () {
                var id = $(this).val();
            })

            $(".ddlOriginLevel3").change(function () {
                var id = $(this).val();
            })

            $(document).on('change', '.product_dest select', function() {
                var idSupplier = $(this).val();
                $(this).parent().closest("tr").find('.product_qty input').prop( "disabled", false );
                //alert($(this).find(':selected').data("empty"));
                $(this).parent().closest("tr").find('.product_qty input').attr('max', $(this).find(':selected').data("empty"));
            })

            $(document).on('keyup', '.product_qty input', function() {
                var max = parseInt($(this).attr('max'));
                //alert(max);
                if (parseInt($(this).val()) > max) {
                    $(this).val(max);
                }

                if (parseInt($(this).val()) == 0) {
                    $(this).val(1);
                }
            });

            $(document).on('change', '.product_id select', function() {
                    var idProd = $(this).val();
                    populateShelf(idProd, this);
                    if($(levelHidden).val()==2){
                        populateShelfDest(idProd, $(txtIdWarehouse).val(),this);
                    }
            });

            $(document).on('change', '.product_dest select', function() {
                if($(levelHidden).val()==1){
                    $(this).parent().closest("tr").find('.product_origin select').val($(this).val());
                }
            });

            $(document).on('change', '.product_origin select', function() {
                if($(levelHidden).val()==3){
                    $(this).parent().closest("tr").find('.product_dest select').val($(this).val());
                }
            });

        });

        $('#btnSave').click(function(event) {
            //event.preventDefault();
            if (ValidateAll() == true) {
                return true;
            } else {
                return false;
            }
        })
    </script>

    <!--######### END OF SECTION HEREEE ################ -->
</div>

</html>